.param-list-component {
  background-color: #f0f0f0;

  .filter-area {
    background: #ffffff;
    height: 72px;
    line-height: 72px;
    padding: 0 16px;
    margin-bottom: 16px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    .inputs {
      float: left;

      .input-item {
        margin-right: 8px;
      }
    }

    .buttons {
      float: right;
      margin-right: 8px;

      .btn-item {
        margin-right: 8px;
      }
    }
  }

  .result-area {
    padding-top: 25px;
    background: #ffffff;
    border-radius: 7px;

    .list-header {
      position: relative;
      margin: 0 0 25px 25px;
      font-size: 12px;

      .total-area {

        .total-num {
          margin: 0 2px;
          color: #D24545;
        }
      }

      .btns {
        position: absolute;
        top: -5px;
        right: 25px;

        .btn-create {
          font-size: 12px;
          border-color: #D24545;
          color: #D24545;
        }
      }

    }

    .table-area {

      .operation-area {
        display: inline;
        border: 1px solid #d24545;
        border-radius: 12px;
        padding: 3px 16px;
        color: #5b5b5b;
        cursor: pointer;

        &:hover {
          background-color: #d24545;
          color: #ffffff;

          .reset-link-style {
            color: #ffffff;
            text-decoration: none;
          }
        }
      }

      .td-name {
        padding-left: 25px;
      }

      .pagination-container {
        padding-right: 25px;
        margin-bottom: 35px;
      }
    }
  }
}
