.dynamic-list-container-component {

  background-color: #f0f0f0;

  .dynamic-filter-panel-container {
    margin-bottom: 16px;
  }

  .dynamic-list-container {
    background-color: #ffffff;
    padding: 25px 0 45px 0;
    border-radius: 7px;
  }
}
