.graphtransform-wrap {
    position: absolute;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    bottom: 80px;
    right: 32px;
    z-index: 1;
    .square-button {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .transform-to-graph {
        background-color: #fff;
        background-image: url(./assets/network_normal_icon.png);
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        &:hover,&.active{
            background-color: #f6f7f7;
            background-image: url(./assets/network_pressed_icon.png);
        }
    }
    .transform-to-tree {
        background-color: #fff;
        background-image: url(./assets/tree_normal_icon.png);
        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-position: center;
        &:hover,&.active{
            background-color: #f6f7f7;
            background-image: url(./assets/tree_pressed_icon.png);
        }
    }
}
