.personalInfo {
  margin-top: 70px;
  .Btitle{
    width: 100%;
    height: 50px;
    background: #fff;
    margin-bottom: 20px;
    padding: 12px 250px 0 250px;
    .title-name{
      width: 200px;
      height: 25px;
      padding-left: 5px;
      line-height: 25px;
      border-left: 3px solid #0079FE;
      float: left;
    }
    .back-btn{
      float: right;
      background: #fff;
      border: #ccc 1px solid;
      color: #666;
      &:hover{
        background: #ccc;
      }
    }
  }
  .content {
    background: #fff;
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    border-radius: 7px;
    
    .top{
      width: 100%;
      height: 50px;
      .nav-item{
        float: left;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        margin: 20px;
      }
      .active{
        border-bottom:2px solid #0079FE; 
      }
    }

    .bottom{
      .info{
        padding: 0 20px;
        .title{
          width: 100%;
          height: 20px;
          float: left;
        }
        .form {
          padding-top:60px;
          .ant-form{
            .ant-row{
              width: 300px;
              float: left;
              margin-left: 40px;
            }
          }
        }
      }
      .reset-password{
        padding: 0 20px;
        .title{
          width: 100%;
          height: 20px;
          float: left;
        }
        .form{
          padding-top:60px;
          .ant-form{
            .ant-row{
              .ant-form-item-label{
                width: 80px;
              }
              .ant-form-item-control-wrapper{
                width: 260px;
              }
            }
          }
        }
      }
    }

  }
}
