.modal-header {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
}

.modal-body {
  .select-area {
    margin-top: 45px;
    text-align: center;
    font-size: 14px;

    label + label {
      margin-left: 20px;
    }
    label {
      cursor: pointer;
    }
    input {
      margin-right: 5px;
    }
  }

  .operate-btns {
    position: absolute;
    bottom: 20px;
    right: 8px;
    font-size: 16px;
    .ok-btn {
      margin-left: 10px;
      color: #008cff;
    }
  }
}
