$primary-blue: #008CFF;
$primary-lighter-blue: #249CFF;
$primary-black: #475461;
$primary-lighter-black: #A3A9B0;
$primary-gray: #757F89;
$primary-green: #5EBC00;
$primary-orange: #F18424;
$primary-red: #FC4239;
$primary-purple: #8B72E5;
$primary-brown: #B99465;
$primary-yellow: #D7A048;
$primary-slate-blue: #6E80DE;
$background-color: #F6F7F7;
$border-color: #D1D4D8;
$filter-border-color: #E8E9E8;
$white: #fff;
$risk-red: #EE5B7C;
$changsha-bck: #f4f4f4;

/**
 * 气泡图样式重构，使用到的重新颜色规范
 * 位置: '../components/Chart/index';
 * author: linjianhuang
 */
$re-primary-green: #64C680;
$re-primary-blue: #4FA2F1;
$re-primary-black: #565E76;

$font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-XL: 18px;
$font-L: 16px;
$font-M: 14px;
$font-S: 12px;
$header-height: 56px;

$box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.29);


